.hero{ 
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img{
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border-radius: 500%;
  object-fit: cover;
  object-position: center top;
}
/* .hero h1{
  text-align: center;
  width: 70%;
  font-weight: 600;
} */
.hero h1{
  background: linear-gradient(267deg, #606c38 0.36%, #bc6c25 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p{
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.hero-action{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /* padding: 0 30px; */
  gap: 25px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect{
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #606c38 0.36%, #bc6c25 102.6%);
  cursor: pointer;
}
.hero-resume{
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fefae0;
  cursor: pointer;
  width: 18rem;
  text-align: center;
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hero-connect:hover{
  border: 2px solid #fefae0;
}
.hero-resume:hover{
  border-color: #f28b19;
}

@media(max-width:786px){
  .hero img{    
    width: 150px;
    height: 150px;
  }
  .hero p{
    width: 60%;
    line-height: 32px;
    margin: 10px 0px;
  }
  hero-action{
    gap: 16px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume{
    padding: 20px 30px;
    border-radius: 40px;
  }
}