.mywork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 70px;
}
.mywork-title{
  position: relative;
}
.mywork-title h2{
  padding: 0 30px;
  font-size: 80px;
  font-weight: 600;  
}
.mywork-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container{
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-around;
  max-width: 80vw;
}
.mywork-container img {
  cursor: pointer;
  max-width: 100%;
  display: block;
  transition: transform 0.5s;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

.project-card {
  max-width: 427px;
  position: relative;
  overflow: hidden;
}

.overlay {  
  width: 100%; 
  height: 0; 
  background: rgba(0, 0, 0, 0.68); 
  position: absolute;
  bottom: 0; 
  left: 0; 
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center; 
  flex-direction: column;
  font-size: 16px;
  transition: height 0.5s;
  opacity: 0; 
  transform: scale(0.9); 
  z-index: 2;
}
.overlay-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 74%;
}
.overlay a {
  display: flex;
  gap: 20px;
  font-size: 20px;
  text-decoration: underline;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .overlay {
  opacity: 1; 
  transform: scale(1);  
  height: 100%;
}

.mywork-showmore{
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid #fefae0;
  padding: 30px 60px;
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 80px 0;
  transition: 0.6s;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #fefae0;
}
.mywork-showmore:hover{
  gap: 30px;
  transition: 0.6s;
}

@media(max-width:786px){
  .mywork{
    gap: 50px;
    margin: 40px 20px;
    align-items: start;
  }
  .mywork-title h2{
    padding: 0;
    font-size: 50px;
  }
  .mywork-title img{
    width: 130px;
    margin-right: -20px;
  }
  
  .mywork-showmore{
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
  .overlay-content{
    max-width: 90%;
  }
}