.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.contact-title{
  position: relative;
}
.contact-title h2{
  padding: 0 30px;
  font-weight: 600;
}
.contact-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* .contact-section{
  display: flex;
  gap: 150px;
} */
.contact-section {
  display: flex;
  /* gap: 11px; */
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
/* .contact-left{
  display: flex;
  flex-direction: column;
  gap: 30px;
} */
 .contact-left{ 
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%;
 }

.contact-left h2{
  font-weight: 700;
  background: linear-gradient(267deg, #606c38 0.36%, #bc6c25 102.6%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p{
  max-width: 550px;
  color: #fefae0;
  line-height: 35px;
}
.contact-details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fefae0;
}
.contact-detail{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
}
.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  width: 57%;
}
.contact-right label{
  color: #fefae0;
  font-weight: 500;
}
.contact-right input{
  border: none;
  width: 97%;
  height: 78px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
}
.contact-right textarea{
  width: 92%;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
}
.contact-submit{
  border: none;
  color: #fefae0;
  border-radius: 50px;
  background: linear-gradient(267deg, #606c38 0.36%, #bc6c25 102.6%);
  padding: 20px 60px;
  margin: 0 0 50px 0;
  cursor: pointer;
  transition: 0.3s;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
}
.contact-submit:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width:786px){
  .contact{
    gap: 50px;
    margin: 40px;
    align-items: start;
  }
  .contact-title h2{
    padding: 0;
  }
  .contact-title img{
    width: 130px;
    margin-right: -20px;
  }
  .contact-section{
    flex-direction: column;
    gap: 50px;
  }
  .contact-left{
    width: 100%;
  }
  .contact-detail{
    gap: 20px;
  }
  .contact-detail img{
    width: 25px;
  }
  .contact-right{
    width: 100%;
  }
  
  .contact-right input{
    width: 93%;
  }
  .contact-right textarea{
    width: 83%;
  }
  .contact-submit{
    padding: 15px 40px;
  }
}