.footer{
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-top-left p{
  font-size: 20px;
  margin: 10px 0 0 0;
}
.footer-top-right{
  display: flex;
  align-items: center;
  gap: 35px;
}
.footer-email-input{
  display: flex;
  gap: 30px;
  padding: 30px 80px 30px 20px;
  border-radius: 50px;
  background: #32323b;
}
.footer-email-input input{
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}
.footer-subscribe{
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(267deg, #606c38 0.36%, #bc6c25 102.6%);
  cursor: pointer;
  transition: 0.3s;
}
.footer-bottom{
  display: flex;
  justify-content: end;
  font-size: 18px;
  padding: 0 0 10px 0;
}
.footer-bottom-right{
  display: flex;
  gap: 50px;
  margin: 0 0 0 50px;
}
.footer-email-input:hover{
  border: 2px solid #fefae0;
}
.footer-subscribe:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width:768px){
  .footer{
    margin: 50px 70px;
  }
  .footer-top{
    flex-direction: column;
    gap: 50px;
  }
  .footer-top-right{
    width: 100%;
    flex-flow: row wrap;
    gap: 10px;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    gap: 10px;
  }
}